---
layout: default
---

<div class="post-content">
  <h1>
    {{ page.title }}
  </h1>
  {% if site.hide_post_date != true %}
    {% include post-date.html %}
  {% endif %}
  {% if page.image %}
    <div class="featured-image">
      <img src="{{ site.github.url }}/assets/img/{{ page.image }}">
    </div>
  {% endif %}
  <article>
    {{ content }}
  </article>
  <script src="https://giscus.app/client.js"
        data-repo="Laz-AP/thoughts"
        data-repo-id="R_kgDONJvjAg"
        data-category="General"
        data-category-id="DIC_kwDONJvjAs4Cokv5"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
  {% if site.hide_post_share != true %}
    {% include post-share.html %}
  {% endif %}
  {% if site.hide_related_posts != true %}
    {% include related-posts.html %}
  {% endif %}
  {% if site.data.settings.disqus.comments %}
    {% include disqus.html %}
  {% endif %}
</div>
